@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #fff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
body{
  background-color: #02160D;
}
#tasklist::-webkit-scrollbar{
    display: none;
    height: 2px;
}
#tasklist::-webkit-scrollbar-thumb{
  background-color: rgb(143, 143, 143);
  border-radius: 50px;
}

